// Cores do site
$background-dark: #010208;
$linear-gradient: linear-gradient(270deg, #9289FF -4.92%, #3D4BEE 78.24%);
$hover-menu: #313134;
$text-dark-theme: #E3E4E6;
$p-text-claro-dark-theme: #D9D9D9;
$p-text-escuro-dark-theme: #94979D;
$p-input-dark-theme: #AFB0B1;
$white: #fff;
$purple: #7E74F1;
$light-theme-gray: #7D7E82;